#input {
    background: url('/images/chosensya_back.jpg') left top no-repeat;
    background-size:contain;
    width: 500px;
    height: 280px;
}



.custom-file {
    overflow: hidden;
}
.custom-file-label {
    white-space: nowrap;
}
